@font-face {
  font-family: MU; /* Шрифт */
  src: url(../public/fonts/font_reg.otf);
}
body {
  margin: 0;
  font-family: MRegular;
  background: linear-gradient(180deg, #2193B0 0%, #6DD5ED 100%);
}
body, html {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: MRegular;
  font-size: 16px;
  color: #4B4B4B;
  background: linear-gradient(180deg, #2193B0 0%, #6DD5ED 100%);
  background-attachment: fixed; /*edit*/
  -webkit-text-size-adjust: 100%;
}
a{
  text-decoration: none;
}